
@{
    ViewBag.Title = "EditMovieStatus";
}



@Html.ActionLink("Movies", "MovieAdmin", "Home")
@Html.ActionLink("Logout", "Logout", "Home")
<h2>EditMovieStatus</h2>
<font color="green">Movie Details Saved Successfully!!</font>

